body {
    width: 100%;
    height: auto;
    background-color: bisque;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#win {
    visibility: hidden;
}

#fail {
    visibility: hidden;
}

#playAgain {
    visibility: hidden;
}

#win, #fail {
    font-weight: 900;
    font-size: 3.5em;
}
  
#win .letter, #fail .letter {
    display: inline-block;
    line-height: 1em;
}